#main {
    background-color: #a9d7d1;
    padding: 15px;
}

#form {
    padding: 5px;
    background-color: white;
}

table {
    margin: auto;
    border-spacing: 0 20px;
    text-align: center;
}

.input {
    width: 300px;
}