#main {
    background-color: #a9d7d1;
    padding: 15px;
}

#form {
    padding: 5px;
    background-color: white;
}

table {
    margin: auto;
    border-spacing: 0 20px;
    text-align: center;
}

td {
    vertical-align: top;
}

.input {
    width: 300px;
}

.option {
    width: 120px;
}

.label {
    margin-top: 50px;
    text-align: right;
}

.contents {
    text-align: left;
}

.checkbox_align {
    vertical-align: middle;
}
