html {
  color: #555;
  word-wrap: break-word;
}
body {
  background-color: #eee;
}
ol, ul, li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
a {
  display: inline-block;
}
button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
.grid-container {
  padding: 10px;
  background: lightgray;
}
.grid-item {
  padding: 10px;
  border: 3px solid rgb(50, 50, 40);
  color: white;
  background: #FF6937;
}