{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>auth</title>
    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    
</head>

<body>
    <div class="container">

    
        {% block body %}
        {% endblock  %}
    </div>

    <!-- Bootstrap JS-->
    {% bootstrap_javascript jquery='full' %}
</body>

</html>