{% extends 'base.html' %}

{% block body %}
<h1 class="text-center">영화 상세 정보</h1>
<table>
<tr>
<td>영화명 : <td>
<td>{{ movie.title }}</td>
</tr>
<tr>
<td>영화명(영문명) : </td>
<td>{{ movie.title_en }}</td>
</tr>
<tr>
<td>누적 관객수 : </td>
<td>{{ movie.audience }}</td>
</tr>
<tr>
<td>개봉일 : </td>
<td>{{ movie.open_date }}</td>
</tr>
<tr>
<td>장르 : </td>
<td>{{ movie.genre }}</td>
</tr>
<tr>
<td>관람등급 : </td>
<td>{{ movie.watch_grade }}</td>
</tr>
<td>평점 : </td>
<td>{{ movie.score }}</td>
</tr>
<tr>
<td><img src="{{ movie.poster_url }}" alt="poster_url"/></td>
<tr>
<td>영화 소개</td>
<td> {{ movie.description }}</td>
</tr>
</table>
<hr>

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'movies:index' %}'">영화 목록으로</button>
  <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'movies:edit' movie.pk %}'">영화 정보 수정하기</button>
  <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'movies:delete' movie.pk %}'">영화 삭제하기</button>
</div>
{% endblock %}