{% extends 'base.html' %}


{% block body %}

<h1>Movie Detail</h1>

<p>User: {{ movie.user.username }}</p>
<p>Title: {{ movie.title }}</p>
<p>Description: {{ movie.description }}</p>
{% if movie.poster %}
<p>Poster: <img src="{{ movie.poster.url }}" alt="Poster"></p>
{% endif %}
<p>Created At: {{ movie.created_at }}</p>
<p>Updated At: {{ movie.updated_at }}</p>

<div>
  <a href="{% url 'movies:index' %}">목록</a>
  {% if user == movie.user %}
  <a href="{% url 'movies:edit' movie.pk %}">수정</a>
  <form action="{% url 'movies:delete' movie.pk %}" method="POST" style="display: inline-block;">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form>
  {% endif %}
</div>

<hr>
{% endblock %}