{% extends 'base.html' %}

{% block body %}
<h1 class="text-center">영화 정보 수정</h1> 
<form action="{% url 'movies:edit' movie.pk %}" method="POST">
{% csrf_token %}
  영화명 : <input type="text" name="title" value="{{ movie.title }}"><br>
  영화 소개 : <br>
  <textarea name="description" cols="30" rows="10" value="{{ movie.description }}"></textarea>
  포스터 : <input type="file" name="poster">
  <input type="submit" onclick="alert('수정 되었습니다!');">
</form>
<hr>
<a href="/movies/">[영화 목록으로]</a>
{% endblock %}