body {
  margin: 0px;
}
ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
/* menu */
.menu {
  display: flex;
}
.menu-item {
  background: gold;
  /* flex-grow: 1; */
  width: 25%;
  transition: 0.5s;
}
.menu-item:hover {
  background: red;
  /* flex-grow: 1.5; */
  width: 35%;
}
.menu-link {
  display: block;
  padding: 1em;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.menu-link:hover {
  color: white;
}

/* search */
.search-form {
  display: flex;
  height: 40px;
}
.search-form input[type='search'] {
  flex: 1;
  margin-right: 10px;
  border: 0;
  border-radius: 0.3em;
  font-size: 1rem;
}
.search-form input[type='submit'] {
  width: 4em;
  border: 0px;
  border-radius: 0.3em;
  font-size: 1rem;
  background-color: gold;
}

/* bullet list */
.info-list-item {
  display: flex;
  margin: 0.5em 0;
}
.info-list-item:before {
  content: '';
  margin-right: 0.5em;
}