div {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    /* margin-top: 15px; */
    text-align: center;
    position: relative;
}


.relative {
    position: relative;
}

.parent {
    background-color: chartreuse;
}

.absolute {
    background-color: red;
    position:absolute;
    top: 0px;
    left: 10px;
}