div{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin-top: 15px;
    text-align: center;
}

.parent {
    background-color: chartreuse;
}

.absolute {
    position:absolute;
}