{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PJT1</title>
    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
</head>

<body>
    <div class="container">
    {% if user.is_authenticated %}
        <h2>어서오세요, {{ user.username}}</h2>
        <a href="{% url 'accounts:logout' %}">로그아웃</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
        <a href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}
    
    
        {% block body %}
        {% endblock  %}
    </div>

    <!-- Bootstrap JS-->
    {% bootstrap_javascript jquery='full' %}
</body>

</html>